mat-paginator {
    margin-top: 140px; 
    border-radius: 20px; 
    background-color: #405a42; 
    color: rgb(255, 255, 255);
  }
  
  .add-button {
    width: 120px;
    position: fixed;
    top: 600px; 
    right: 20px; 
    background-color: #405a42; 
    color: rgb(255, 255, 255); 
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #1c362e; 
  }
  
  .form-container {
    background-color: #55774d; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    width: 300px;
    margin-top: 80px; 
    align-self: center; 
  }
  .fruta-actions {
    display: fixed;   
    align-items: center; 
    width: 20%;
    top: -400px;
  }