html, body {   
  height: 100%;   
}  

body {  
  background-color: #dcedc8;
  background-size: cover;  
  background-position: center;  
  background-repeat: repeat-y;  
}  

mat-checkbox {  
  color: #3c763d; /* Cor verde escura para os caixas de seleção */  
}  

.checkbox-container {  
  display: flex;  
  flex-direction: column;  
  gap: 15px;   
  align-items: flex-start;  
  border-radius: 10px;  
  color: #fff; /* Mantivemos o texto branco para bom contraste */  
  text-decoration-color: #ffecb3; /* Um tom de amarelo suave */  
}  

.icon-container {  
  margin-top: 10px;  
}  

.site-icon {  
  width: 550px;   
  height: 350px;  
}  

.container {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  justify-content: top;  
  height: 200vh;  
}  

.fruta-info {  
  display: flex;  
  flex-direction: row;   
  justify-content: space-between;   
  align-items: center;  
  padding: 5px;   
  margin-bottom: 10px;   
  border-radius: 8px;   
  color: rgb(0, 0, 0);  
  height: auto;  
  width: 100%;  
  background-color: #e8f5e9; /* Fundo branco para os itens de fruta   */
}  

.fruta-text p {  
  margin: 5px 0;   
  font-size: 14px;   
  line-height: 1.5; /* Menos espaçamento entre linhas */  
}  

.fruta-list {  
  background-color: #dcedc8; /* Verde muito claro como fundo da lista */  
  padding: 10px;  
  border-radius: 8px;  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra mais suave */  
  width: 1100px;  
  height: auto;   
  max-height: 60%;   
  overflow-y: auto;   
  word-wrap: break-word;   
}  

.fruta-text {  
  display: flex;   
  flex-direction: row;  
  gap: 5px;  
  width: 70%;  
}  

.search-form {  
  display: flex;  
  flex-direction: row;  
  align-items: center;  
  background-color: #e8f5e9; /* Um verde muito claro e fresco */  
  padding: 10px;  
  border-radius: 8px;  
  margin-bottom: 20px;  
  color: rgb(10, 10, 10);  
}